<section class="hero-section">
  <div class="hero-content">
    <div class="hero-text-and-buttons">
      <h1>Cuidado e conexão para quem importa</h1>
      <div class="hero-actions">
        <a routerLink="/buscar" class="btn-primary">Encontrar Cuidador</a>
        <a routerLink="/cadastro" class="btn-secondary">Sou Cuidador</a>
      </div>
    </div>
    <div class="hero-image">
      <img src="/src/assets/images/svg/caregiver.svg" alt="Cuidador e idosa sorrindo">
    </div>
  </div>
</section>